
<!DOCTYPE html>
<html>
<head>
<!-- <%@ include file="../head.jsp"%> -->
<link href="../public/css/backend/lib/bootstrap.min.css" type="text/css" rel="stylesheet">
<link href="../public/css/backend/src/main.css" type="text/css" rel="stylesheet">
<!-- vue和iview引用文件 -->
<link rel="stylesheet" type="text/css" href="../public/css/backend/lib/iview.css">

<!-- <script>
	var id = "${judge.id}";
</script> -->
</head>
<body>

	<!-- <%@ include file="header.jsp"%> -->

	<!-- <div class="left">
		<%@ include file="menu.jsp"%>
	</div> -->

	<section class="right">
		<article class="judgeCOU" v-cloak>
			<i-col span="24">新建/修改评委</i-col>	<br/><br/>
			<div>
			    <i-form :model="dataSourse" :rules="ruleDataSourse" :label-width="180" style="width:80%;" v-cloak>
					<form-item label="语言*">
				        <radio-group v-model="dataSourse.language" type="button" @on-change="radioChange">
					        <radio label="0" value="0">中文</radio>
					        <radio label="1" value="1">英文</radio>
					    </radio-group>
			        </form-item>
			     	<form-item label="头像">
						<img :src="imgUrl ? imgUrl : '../public/images/defaultPeopleImage.jpg'" style="width:120px;height:120px;"><br>
						<input type="file" @change="doUpload" ref="inputFile" accept="image/*"/></input>
						<i-progress :percent="progressPercent" /><span v-text="progressPercent + '%'"></span>
					</form-item>
			        <form-item label="姓名*">
			            <i-input v-model="dataSourse.name" placeholder="请输入姓名"></i-input>
			        </form-item>
			        <form-item label="邮箱*"  prop="email">
			            <i-input v-model="dataSourse.email" placeholder="请输入邮箱"></i-input>
			        </form-item>
			        <form-item label="职位*">
			            <i-input v-model="dataSourse.sub_title" placeholder="职位"></i-input>
			        </form-item>
			         <form-item label="描述*">
			            <textarea v-model="dataSourse.description" name="content" id="description"></textarea>
			        </form-item>
			        <form-item>
			        	<i-button type="primary" v-on:click="submit" long>确定</i-button>
			        </form-item>
			    </i-form>
			</div>
		</article>
	</section>

	<!-- <%@ include file="loading.jsp"%> -->


	<script>
		var pageName = "judge";
	</script>

	<script type="text/javascript" src="../public/js/backend/lib/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="../public/js/backend/lib/vue.min.js"></script>
	<script type="text/javascript" src="../public/js/backend/lib/iview.min.js"></script>
	<script type="text/javascript" src="../public/js/backend/lib/promise.js"></script>
	<script type="text/javascript" src="../public/js/backend/lib/aliyun-oss-sdk.min.js"></script>
	<script type="text/javascript" src="../public/js/backend/lib/plupload.full.min.js"></script>
	<script type="text/javascript" src="../public/js/backend/lib/bootstrap.min.js"></script>
	<script type="text/javascript" src="../public/js/backend/src/config.js"></script>
	<script type="text/javascript" src="../public/js/backend/src/judgeCOU.js"></script>

</body>
</html>
