<!DOCTYPE html>
<html>
<head>
<link href="../public/css/backend/lib/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="../public/css/backend/lib/iview.css" rel="stylesheet" type="text/css" >
<link href="../public/css/backend/src/main.css" type="text/css" rel="stylesheet">
<!-- vue和iview引用文件 -->
</head>
<body>

	<section class="right">
		<!-- 使用iview插件 -->
		<article class="newsCOU" v-cloak>
			<i-col span="24">新建/修改新闻</i-col>	<br/><br/>
			<div>
			    <i-form :model="dataSourse" :rules="ruleDataSourse" :label-width="180" style="width:80%;" id="myForm">
			    	<form-item label="语言*">
				        <radio-group v-model="dataSourse.language" type="button">
					        <radio label="0" value="0">中文</radio>
					        <radio label="1" value="1">英文</radio>
					    </radio-group>
			        </form-item>
			        <form-item label="封面图*">
						<img v-show="imgUrl.length" :src="imgUrl" style="width:120px;height:120px;"><br>
						<input type="file" @change="doUpload" ref="inputFile" accept="image/*"/></input>
						<i-progress :percent="progressPercent" /><span v-text="progressPercent + '%'"></span>
					</form-item>
			        <form-item label="标题*" prop="title">
			            <i-input v-model="dataSourse.title" placeholder="请输入标题..." name="title">{{dataSourse.title}}</i-input>
			        </form-item>
			        <form-item label="摘要*" prop="news_abstract">
			            <i-input v-model="dataSourse.news_abstract" placeholder="请输入摘要..." name="news_abstract">{{dataSourse.news_abstract}}</i-input>
			        </form-item>
			         <form-item label="内容*" prop="content">
			            <textarea v-model="dataSourse.content" name="content" id="content">{{dataSourse.content}}</textarea>
			        </form-item>
			        <form-item>
			        	<i-button type="primary" v-on:click="submit"  long>确定</i-button>
			        </form-item>
			    </i-form>
			</div>
		</article>
	</section>


	<script>
		var pageName = "news";
	</script>
	<!-- <script id="container" name="content" type="text/plain">
	        这里写你的初始化内容
	    </script> -->
	<script src="../public/js/backend/lib/jquery-1.10.2.min.js"></script>
	<!-- <script src="https://cloud.tinymce.com/5/tinymce.min.js?apiKey=your_API_key"></script> -->
	<script src="../public/js/backend/lib/vue.min.js"></script>
	<script src="../public/js/backend/lib/iview.min.js"></script>
	<script src="../public/js/backend/lib/promise.js"></script>
	<script src="../public/js/backend/lib/aliyun-oss-sdk.min.js"></script>
	<script src="../public/js/backend/lib/bootstrap.min.js"></script>
	<script src="../public/js/backend/lib/plupload.full.min.js"></script>
	<script src="../public/js/backend/lib/tinyMCE/tinymce.min.js"></script>
	<script src="../public/ueditor/ueditor.config.js"></script>
	<script src="../public/ueditor/ueditor.all.min.js"></script>
	<!-- <script type="text/javascript">
			 var ue = UE.getEditor('container');
	 </script> -->
	<script src="../public/js/backend/src/config.js"></script>
	<script src="../public/js/backend/src/newsCOU.js"></script>

</body>
</html>
