<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<title>首届中国（怀化）乡村振兴设计创新大赛</title>

		<!-- css文件引用 -->
		{% block cssfolder %}

		{% endblock %}

	</head>
	<body>
	<!-- 头部 -->
		{% block header %}
            <div class="header">
            	<h1 class="logo">
            		<span class="icon"></span>后台管理系统
            	</h1>
            	<nav class="topNav">
            		<ul>
            			<li><a href="/logout" class="logout">退出</a></li>
            		</ul>
            	</nav>
            </div>
		{% endblock %}

        <!-- 左侧菜单 -->
		{% block drawer %}
        <div class="left">
            <ul class="menu">
                <li class="item" data-page-name="news"><a class="link" href="/newsMgr">新闻</a></li>
                <li class="item" data-page-name="judge"><a class="link" href="/judgeMgr">评委</a></li>
                <li class="item" data-page-name="works"><a class="link" href="/worksMgr">作品</a></li>
                <li class="item" data-page-name="user"><a class="link" href="/userMgr">用户</a></li>
                <li class="item" data-page-name="judgeRound"><a class="link" href="/judgeRoundMgr">评审轮次</a></li>
                <li class="item">
                    <a class="link">评审管理</a>
                    <ul class="subMenu">
                        <li class="sItem">
                            <span class="circle">原点</span>
                            <a class="sLink" href="/scoreMgr">分数管理</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

		{% endblock %}

		<!-- 内容 -->

        <div class="index" v-cloak>
    		{% block container %}

            {% endblock %}
        </div>


	<!-- js文件引用 -->
	{% block jsfolder %}

	{% endblock %}
</body>
</html>
