{% extends "backend/parent.html" %}

{% block cssfolder %}
<link href="public/css/backend/lib/bootstrap.min.css" type="text/css" rel="stylesheet">
<link href="public/css/backend/src/main.css" type="text/css" rel="stylesheet">
<link href="public/css/backend/lib/iview.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block container %}
<div class="right">
	<div class="userMgr">
		<i-col span="24">用户管理</i-col>
		<i-table :columns="columns" :data="dataList" style="margin-top:20px;width:100%;" ></i-table>
		<page v-model="totalPage" :current="1" :total="totalPage" @on-change="pageChange" show-total style="margin-right:60px;margin-top:20px;text-align:right;"></page>
	</div>
</div>
{% endblock %}

{% block jsfolder %}
<script src="public/js/backend/lib/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="public/js/backend/lib/vue.min.js"></script>
<script type="text/javascript" src="public/js/backend/lib/iview.min.js"></script>
<script src="public/js/backend/lib/bootstrap.min.js"></script>
<script src="public/js/backend/src/config.js"></script>
<script src="public/js/backend/src/userMgr.js"></script>
{% endblock %}
