[ v-cloak]{
   display:none;
}
 body,html,ul,li,a,input,img,div{
	margin:0;
	padding:0;
}
body{
    margin: 0px auto;
    padding: 0px;
    font-size: 14px;
    font-family: "Arail","Microsoft YaHei","Heiti";
    display: flex;
    flex-direction: column;
}
li{
    list-style: none;
    display: inline-block;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
input:focus{
    outline: none;
}
img{
    width: 100%;
    height: auto;
    display: block;
    border: none;
}
.JMHeader {
	z-index: 99;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
.JMHeader .top{
    height: 130px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.JMHeader .JMLogo img{
	width: auto;
	height: 130px;
}
.JMHeader .countDownBox{
    width: 240px;
    height: 130px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: absolute;
    margin-left: 350px;
    margin-top: 52px;
}
.JMHeader .countDownBox .JMNoticeBoard {
	width: 240px;
	height: 60px;
	border: 2px solid #0096FF;
	background-color: #0096FF;
    display: flex;
    flex-direction: row;
}
.JMHeader .JMNoticeBoard .JMNoticeBoardLeft {
    width: 50%;
	color: #0096FF;
	margin: auto;
	text-align: center;
}
.JMHeader .JMNoticeBoard .JMNoticeBoardLeft a {
	width: 100%;
	height: 60px;
	line-height: 60px;
	font-size: 18px;
	color: #fff;
}
.JMHeader .JMNoticeBoard .JMNoticeBoardRight {
	background: #fff;
	font-size: 12px;
	text-align: center;
	width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.JMHeader .JMNoticeBoard .JMNoticeBoardRight .countDown {
	color: #0096FF;
	font-size: 36px;
    font-weight: bold;
	display: block;
	line-height: 1em;
}
.JMHeader .JMNoticeBoard .JMNoticeBoardRight .title {
    font-weight: bold;
	color: #515151;
}
.jdLogo{
    width: 118px;
    margin-top: -20px;
}
.langBox a{
    display: inline-block;
    text-align: center;
    width: 80px;
    height: 25px;
    line-height: 25px;
    background: #eee;
    color: #fff;
}
.langBox a.active{
    display: inline-block;
    text-align: center;
    width: 80px;
    height: 25px;
    line-height: 25px;
    background: #eee;
    color: #929292;
}


.JMHeader .JMTopNav{
  	width: 100%;
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    display: flex;
    flex-direction: row;
}
.navItemBox{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.JMMenu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.JMMenu .JMItem{
    width: 100px;
	list-style: none;
	display: inline-block;
}
.JMMenu .JMItem .JMLink {
	font-size: 14px;
	display: block;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
	color: #6d6d6d;
    font-weight: bold;
    text-decoration: none;
}
.JMMenu .JMItem .JMLink:hover,
.JMMenu .JMItem .JMLink.JMActive {
    font-size: 17px;
	display: block;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
    font-weight: bold;
	color: #0096FF;
}
.JMUserMenu {
    min-width: 100px;
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.JMUserMenu .realname{
    color: #6d6d6d;
    font-size: 14px;
    margin-right: 15px;
}
.JMUserMenu .realname:hover{
    color: #0096FF;
    font-weight: bold;
    font-size: 17px;
    margin-right: 15px;
}
.JMUserMenu .JMItem .JMLink {
	cursor: pointer;
	line-height: 40px;
    font-size: 14px;
	vertical-align: middle;
	display: block;
	color: #6d6d6d;
    letter-spacing: 1px;
}
.JMUserMenu .JMItem .JMLink:hover {
	cursor: pointer;
	line-height: 40px;
    font-size: 17px;
    font-weight: bold;
	vertical-align: middle;
	display: block;
	color: #0096FF;
    letter-spacing: 1px;
}
.JMUserMenu .JMItem .JMLink.JMIconUser {
	width: 36px;
	height: 36px;
	background-size: 60%;
}
.JMIconUser {
	background-image:url(../../../../public/images/iconUser.png);
	background-position:center center;
	background-repeat: no-repeat;
}
.JMFooter {
	height:80px;
	background: #6D6E71;
	color: #fff;
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.JMFooter .footLeft{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 30px;
}
.JMFooter .addressLink p{
    margin: 0;
    font-size: 10px;
}
.JMFooter .footRight{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 30px;
    border-left: solid 1px #fff;
}
.JMFooter .footRight p{
    margin:0px;
}

@media screen and (min-width: 992px) and (max-width: 1200px){

}
@media screen and (min-width: 768px) and (max-width: 992px){
    .JMHeader .top{
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .JMHeader .countDownBox{
        display: none;
    }
}
@media screen and (max-width: 768px){
    .JMHeader .top{
        height: 90px;
        margin-top: 0px;
        margin-bottom: 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .JMHeader .JMLogo{
        height: 90px;
        line-height: 90px;
    }
    .JMHeader .JMLogo img{
        height: 70px;
        margin-top: 10px;
    }
    .JMHeader .countDownBox{
        display: none;
    }
    .jdLogo{
        width: 70px;
        margin-top: -10px;
    }
    .JMMenu .JMItem {
        width: 46px;
        height: 40px;
    }
    .JMUserMenu .realname {
        width: 60px;
        color: #6d6d6d;
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        margin-right: 0px;
    }
    .JMFooter {
    	height:80px;
    	background: #6D6E71;
    	color: #fff;
    	display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .JMFooter .footLeft{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-left: 5px;
    }
    .JMFooter .addressLink p{
        margin: 0;
        font-size: 10px;
    }
    .JMFooter .linkUs,
    .JMFooter .panli,
    .JMFooter .masheng{
        display: none;
    }
    .JMFooter .footRight{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-left: 5px;
        font-size: 12px;
        border-left: none;
    }
    .JMFooter .footRight p{
        margin: 0;
    }
}
