[ v-cloak]{
   display:none;
}
 body,html,ul,li,a,input,img,div{
	margin:0;
	padding:0;
}
body{
    margin: 0px auto;
    padding: 0px;
    font-size: 14px;
    font-family: "Arail","Microsoft YaHei","Heiti";
    display: flex;
    flex-direction: column;
}
li{
    list-style: none;
    display: inline-block;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
input:focus{
    outline: none;
}
img{
    width: 100%;
    height: auto;
    display: block;
    border: none;
}
.JMHeader {
	z-index: 99;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
.JMHeader .top{
    height: 130px;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.JMHeader .JMLogo img{
	width: auto;
	height: 130px;
}
.JMHeader .countDownBox{
    width: 240px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.JMHeader .countDownBox .JMNoticeBoard {
	width: 240px;
	height: 60px;
	border: 2px solid #47a8a9;
	background-color: #47a8a9;
    display: flex;
    flex-direction: row;
}
.JMHeader .JMNoticeBoard .JMNoticeBoardLeft {
    width: 50%;
	color: #47a8a9;
	margin: auto;
	text-align: center;
}
.JMHeader .JMNoticeBoard .JMNoticeBoardLeft a {
	width: 100%;
	height: 60px;
	line-height: 60px;
	font-size: 18px;
	color: #fff;
}
.JMHeader .JMNoticeBoard .JMNoticeBoardRight {
	background: #fff;
	font-size: 12px;
	text-align: center;
	width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.JMHeader .JMNoticeBoard .JMNoticeBoardRight .countDown {
	color: #47a8a9;
	font-size: 36px;
	display: block;
	line-height: 1em;
}
.JMHeader .JMNoticeBoard .JMNoticeBoardRight .title {
    font-weight: bold;
	color: #515151;
}
.JMHeader .JMNoticeBoard .JMNoticeBoardRight .title {
    font-weight: bold;
	color: #515151;
}
.langBox a{
    display: inline-block;
    text-align: center;
    width: 80px;
    height: 25px;
    line-height: 25px;
    background: #eee;
    color: #fff;
}
.langBox a.active{
    display: inline-block;
    text-align: center;
    width: 80px;
    height: 25px;
    line-height: 25px;
    background: #eee;
    color: #929292;
}


.JMHeader .JMTopNav{
  	width: 100%;
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    display: flex;
    flex-direction: row;
}
.navItemBox{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.JMMenu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.JMMenu .JMItem{
    width: 100px;
	list-style: none;
	display: inline-block;
}
.JMMenu .JMItem .JMLink {
	font-size: 14px;
	display: block;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
	color: #6d6d6d;
    font-weight: bold;
}
.JMMenu .JMItem .JMLink:hover,
.JMMenu .JMItem .JMLink.JMActive {
    font-size: 14px;
	display: block;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
    font-weight: bold;
	color: #47a8a9;
}
.JMUserMenu {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.JMUserMenu .realname{
    color: #6d6d6d;
    font-size: 14px;
}
.JMUserMenu .JMItem .JMLink {
	cursor: pointer;
	line-height: 40px;
    font-size: 14px;
	vertical-align: middle;
	display: block;
	color: #6d6d6d;
}
.JMUserMenu .JMItem .JMLink.JMIconUser {
	width: 36px;
	height: 36px;
	background-size: 60%;
}
.JMIconUser {
	background-image:url(../../../../public/images/iconUser.png);
	background-position:center center;
	background-repeat: no-repeat;
}
.JMFooter {
	height:80px;
	background: #363636;
	color: #fff;
	text-align: center;
}

@media screen and (min-width: 992px) and (max-width: 1200px){

}
@media screen and (min-width: 768px) and (max-width: 992px){
    .JMHeader .top{
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
@media screen and (max-width: 768px){
    .JMHeader .top{
        height: 90px;
        margin-top: 0px;
        margin-bottom: 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .JMHeader .JMLogo img{
        height: 90px;
    }
    .JMHeader .countDownBox{
        height: 90px;
        justify-content: center;
        align-items: center;
    }
    .JMHeader .countDownBox .JMNoticeBoard{
        width: 160px;
    }
    .JMHeader .JMNoticeBoard .JMNoticeBoardLeft a {
    	width: 100%;
    	height: 60px;
    	line-height: 60px;
    	font-size: 14px;
    	color: #fff;
    }
    .JMHeader .JMNoticeBoard .JMNoticeBoardRight .countDown{
        font-size: 22px;
    }
    .JMMenu .JMItem {
        width: 60px;
        height: 40px;
    }
    .JMUserMenu .realname {
        width: 60px;
        color: #6d6d6d;
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
    }
}
