[ v-cloak]{
   display:none;
}
.carousel{
    width: 100%;
    height: auto;
    text-align: center;
}
.carousel .carouselItem{
    width: 100%;
    height: auto;
}
.carousel .carouselItem img{
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.carousel .carouselItem .video{
    width: 100%;
    height: auto;
    cursor: pointer;
}

.timeLine{
    margin: 30px auto 40px;
}

.DongTai {
    color: #5c5c5c;
    font-size: 32px;
    padding: 20px 0;
}
.newsList{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.newsList .newsItem{
    max-width: 320px;
    width: 33.3%;
}
.newsList .title{
    width: 100%;
    color: #414042;
    font-size: 16px;
    margin: 10px auto;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
}
.newsList .createAt{
    width: 100%;
    color: #414042;
    font-size: 10px;
    text-align: left;
}
.moreBtn{
    margin: 10px auto 30px;
    color: #fff;
    background: #0096ff;
}

@media screen and (min-width: 992px) and (max-width: 1200px){

}
@media screen and (min-width: 768px) and (max-width: 992px){
    .DongTai {
        color: #5c5c5c;
        font-size: 24px;
        padding: 20px 0;
    }
}
@media screen and (max-width: 768px){
    .DongTai {
        color: #5c5c5c;
        font-size: 20px;
        padding: 15px 0;
    }
    .newsList .newsItem{
        width: 33.33%;
    }
    .newsList .title{
        font-size: 12px;
    }
}
