[v-cloak]{
	display:none;
}
.judgeDetail .header{
	width:70%;
	margin: 0 auto;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    padding: 20px 0px;
    border-bottom: solid 1px #CFCFCF;
}
.judgeDetail .content{
    margin:20px auto;
}
