 [ v-cloak]{
	display:none;
}
.news .header{
	width: 70%;
	margin: 0 auto;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    padding: 20px 0px;
    border-bottom: solid 1px #CFCFCF;
}
.JMNewsListUl{
	display: flex;
	flex-direction: column;
}
.JMNewsListUl .JMNews{
	display: flex;
	flex-direction: row;
	margin:20px auto;
}

.JMNewsListUl .JMNews .JMNewsTextBox{
	width: 100%;
}
.JMNewsListUl .JMNews .JMNewsText_date{
	color:#818181;
	font-weight: bold;
	margin: 5px;
}
.JMNewsListUl .JMNews .JMNewsText_title{
	color: #47a8a9;
    display: block;
    margin: 5px;
    font-size: 18px;
}
.JMNewsListUl .JMNews .JMNewsText_content{
	color: #818181;
    display: block;
    margin: 10px 5px;
    font-size: 14px;
}
