[ v-cloak]{
   display:none;
}
.newsDetail .header{
   width: 70%;
   margin: 0 auto;
   text-align: center;
   font-size: 20px;
   font-weight: 900;
   padding: 20px 0px;
   border-bottom: solid 1px #CFCFCF;
}

.newsDetail .content{
    width: 70%;
    margin:20px auto;
}
.newsDetail .content .title{
    color: #47a8a9;
    font-size: 20px;
    margin-top: 20px;
    text-align:center;
}
.newsDetail .content .date{
    color: #6d6d6d;
    font-size: 14px;
    margin: 20px 0px;
    text-align:center;
}
