.sitemap .header{
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    padding: 20px 0px;
    border-bottom: solid 1px #CFCFCF;
}
.sitemap .content{
    margin-top: 40px;
}
.sitemap #link_box{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: 30px;
    margin:10px auto;
    border-bottom: 1px dashed #e5e5e5;
}

.sitemap .link{
    font-size: 18px;
    color: #4d4d4d;
}
