[v-cloak] {
  display: none;
}
.rules{
	margin:20px;
}
.uploadRuleTitle{
    font-size: 20px;
    font-weight: bold;
	text-align: center;
    margin:0px;
}
.uploadRule_1{
	width:100%;
	margin-top:20px;
	line-height:30px;
}
.uploadRule_2{
	width:100%;
	margin-top:20px;
	line-height:30px;
}

.uploadRuleText{
	color:#656464;
	line-height: 19px;
}

.uploadRuleText span{
	color:#0096FF;
	font-weight: bold;
}

.uploadRuleSubTitle{
	color: #0096FF; margin: 30px 0px 0px 0px;
}

.improtentText{
	color: #0096FF;
}

.userInfo{
	margin-top:40px;
}

.preview{
	text-align:center;
}
.uploadWork .title{
    font-size: 22px;
    font-weight: bold;
}
.uploadWork .avator{
    font-size: 20px;
    font-weight: bold;
}
