[v-cloak]{
	display:none;
}
body{
	margin:0 auto;
}
.workDetail .title{
	margin-top:10px;
}

.workDetail .content{
	margin-top:10px;
}

.workDetail .attachFile{
	margin:20px auto;
	text-align: left;
}

.backTitle{
	text-align: center;
    font-size: 24px;
    color: #0096FF;
}

.backText{
	text-indent: 2em;
    font-size: 15px;
    line-height: 1.5em;
    color:#6d6d6d;
    text-align: left;
}
