{% extends "frontend/parent.html" %}

{% block cssfolder %}
<link href="public/css/frontend/lib/iview.css" rel="stylesheet" type="text/css">
<link href="public/css/frontend/lib/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="public/css/frontend/lib/swiper.css" type="text/css" rel="stylesheet">
<link href="public/css/frontend/src/Header.css" type="text/css" rel="stylesheet">
<link href="public/css/frontend/src/Home.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block container %}
<div class="col-md-8 col-md-offset-2 col-sm-12 home">
	<row type="flex" justify="center">
		<i-col span="24">
			<icon type="ios-information-circle" size="40"></icon>
			<Carousel class="carousel" v-model="carouselModel">
		        <carousel-item>
		            <div class="carouselItem">
						<video id="video" class="video" @click="tapVideo" src="/public/images/video.mp4"></video>
					</div>
		        </carousel-item>
		        <carousel-item>
					<div class="carouselItem">
						<img src="/public/images/carousel_1.jpg">
					</div>
		        </carousel-item>
		        <carousel-item>
					<div class="carouselItem">
						<img src="/public/images/carousel_2.jpg">
					</div>
		        </carousel-item>
		    </Carousel>
			<img class="timeLine" src="/public/images/timeLine.png" alt="">
			<div style="width: 100%; background-color: #f7f7f7">
				<section class="DongTai">NEWS | 新闻动态</section>
				<ul class="newsList">
					<li class="newsItem" v-for="item in dataList">
						<a class="zyLink"	:href="'newsDetail/' + item.Id" target="_blank">
							<img class="zyThumb" :src="item.thumb">
							<h3 class="title" v-text="item.title"></h3>
							<p class="createAt" v-text="item.createAt.split(' ')[0]"></p>
						</a>
					</li>
				</ul>
				<div style="width：100%;text-align:center;margin: 20px auto 0px;">
					<i-button type="default" class="moreBtn" @click="tapMore">查看更多</i-button>
				</div>
			</div>
		</i-col>
 	</row>
</div>
{% endblock %}

{% block jsfolder %}
<script src="public/js/frontend/lib/jquery-1.10.2.min.js"></script>
<script src="public/js/frontend/lib/vue.min.js"></script>
<script src="public/js/frontend/lib/iview.min.js"></script>
<script src="public/js/frontend/lib/bootstrap.min.js"></script>
<script src="public/js/frontend/lib/promise.js"></script>
<script src="public/js/frontend/lib/aliyun-oss-sdk.min.js"></script>
<script src="public/js/frontend/lib/swiper.js"></script>
<script src="public/js/frontend/src/config.js"></script>
<script src="public/js/frontend/src/header.js"></script>
<script src="public/js/frontend/src/index.js"></script>
{% endblock %}
