{% extends "frontend/parent.html" %}

{% block cssfolder %}
<link href="public/css/frontend/lib/iview.css" type="text/css" rel="stylesheet">
<link href="public/css/frontend/lib/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="public/css/frontend/lib/animation.css" type="text/css" rel="stylesheet">
<link href="public/css/frontend/lib/swiper.css" type="text/css" rel="stylesheet">
<link href="public/css/frontend/src/Header.css" type="text/css" rel="stylesheet">
<link href="public/css/frontend/src/judge.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block container %}
<div id="productList" :style="productListStyle">
	<row type="flex" justify="center">
		<i-col span="20">
			<div style="text-align: center">
				<i-menu mode="horizontal" :theme="theme1" active-name="1" @on-select="menuSelect" style="width:100%;margin-top:10px;z-index:0">
					<menu-item name="1"> <icon type="settings"></icon>
						全部
					</menu-item>
					<menu-item name="2"> <icon type="settings"></icon>
						已打分
					</menu-item>
					<menu-item name="3"> <icon type="settings"></icon>
						未打分
					</menu-item>
				</i-menu>
			</div>

		</i-col>

	</row>
	<ul class="cd-items cd-container">
		<li v-for="item in list" class="cd-item">
			<p class="cd-unScore" v-if="item.score == 0" v-text="'未打分'"></p>
			<p class="cd-score" v-if="item.score != 0" v-text="item.score"></p>
			<img :src="item.production.pImage" :id="item.production.Id" v-on:click="openDetail(item.production.Id,item.Id)" style="cursor: pointer;">
			<p class="cd-trigger" v-text="item.production.title"></p>
		</li>
		<img v-if="unrated" style="width:180px;height:155px;margin: 40px auto;" src="public/images/12.jpg">
		<p v-if="unrated" style="margin: 10px auto;text-align: center;color:#868686;font-size:18pt;" v-text="'您没有要评分作品哟~~'"></p>

		<div style="text-align: center; margin-bottom: 30px;">
			<page :total="total" :page-size="pageSize" show-total @on-change="loadData"></page>
		</div>
	</ul>

	<div class="cd-quick-view">
		<div class="cd-slider-wrapper">
			<ul class="cd-slider">
				<li class="selected">
					<div class="swiper-container">
						<div class="swiper-wrapper">
							<div class='swiper-slide'>
							</div>
						</div>
						<div class="swiper-pagination"></div>
						<div class="swiper-button-prev"></div>
						<div class="swiper-button-next"></div>
					</div>
				</li>
			</ul>
		</div>

		<div class="cd-item-info">
			<h3 v-text="'标题：'+ title"></h3>
			<p class="des" v-html="'内容：<br />'+ content"></p>
			<a v-if="attachFileShow" :href="attachFile">点击进行附件下载<icon size="14" type="arrow-down-a"></icon></a>
			<span class="errorText">请输入分数0-100的整数</span>
			<div class="scoreBox">
				<input class="scoreInput" v-model="score"/>
				<button class="scoreBtn" @click="scoreBtnClick">打分</button>
			</div>
		</div>
		<icon class="cd-close" size="26" type="close" v-on:click.native="closeQuickView"></icon>
	</div>
	<modal v-model="previewModal" title="图片预览 (按Esc可返回)" footer-hide width="auto">
		<img style="width:70%;heigth:auto;margin:0 auto;" :src="modelImg" />
	</modal>
</div>
{% endblock %}

{% block jsfolder %}
<script src="public/js/frontend/lib/jquery-1.10.2.min.js"></script>
<script src="public/js/frontend/lib/vue.min.js"></script>
<script src="public/js/frontend/lib/swiper.js"></script>
<script src="public/js/frontend/lib/iview.min.js"></script>
<script src="public/js/frontend/lib/bootstrap.min.js"></script>
<script src="public/js/frontend/lib/promise.js"></script>
<script src="public/js/frontend/lib/aliyun-oss-sdk.min.js"></script>
<script src="public/js/frontend/src/header.js"></script>
<script src="public/js/frontend/src/config.js"></script>
<script src="public/js/frontend/src/judge.js"></script>
{% endblock %}
