<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title></title>
		<link href="public/css/frontend/src/login.css" type="text/css" rel="stylesheet">

		<!-- vue和iview引用文件 -->
		<link rel="stylesheet" type="text/css" href="public/css/frontend/lib/iview.css">
	</head>
	<body>
			<div>
				<a class="close" href="/index">{{__('closed')}}</a>
			</div>

			<form class="pCenter" id="myForm" method="post" action="login" onsubmit="return check(this)">
				<h1 class="appTitle">系统登录</h1>
				<div class="row">
					<input class="ctrlInput icon1" type="text" name="username" placeholder="请输入邮箱/手机号" style="margin-top: 36px;">
				</div>
				<div class="row">
					<input id="password" class="ctrlInput" type="password" name="password" placeholder="密码" style="margin-bottom: 20px;margin-top:-10px; "></div>
				<div class="row submit">
					<input type="submit" class="ctrlBtn" value="登录" style="margin-top: -10px;">
					<label class="error tCenter">{{message}}</label>
				</div>
				<div class="row">
					<a href="/register" style="float: left;margin-top: -8px;">注册</a>
					<a href="/forgetPwd" style="float: right;margin-top: -8px;">忘记密码？</a>
				</div>
				<div class="logoBottom">
					<span class="glyphicon glyphicon-user"></span>
				</div>
			</form>
		<script>
			var pageName = "login";
		</script>

		<script src="public/js/frontend/lib/jquery-1.10.2.min.js"></script>
		<script type="text/javascript" src="public/js/frontend/lib/vue.min.js"></script>
		<script type="text/javascript" src="public/js/frontend/lib/iview.min.js"></script>
		<script src="public/js/frontend/lib/jquery.validate.min.js"></script>
		<script src="public/js/frontend/src/config.js"></script>
		<script src="public/js/frontend/src/login.js"></script>

	</body>
</html>
