{% extends "frontend/parent.html" %}

{% block cssfolder %}
<link href="public/css/frontend/lib/iview.css" rel="stylesheet" type="text/css">
<link href="public/css/frontend/lib/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="public/css/frontend/src/Header.css" type="text/css" rel="stylesheet">
<link href="public/css/frontend/src/News.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block container %}
<div id="news" class="col-md-8 col-md-offset-2 col-sm-12 news" :style="newsStyle">
    <div class="row">
		<div class="header">
	        新闻
	    </div>
		<ul class="JMNewsListUl">
			<li class="JMNews" v-for="item in dataList">
					<div class="newThumb">
						<img :src="item.thumb" />
					</div>
					<div class="newInfo">
                        <h5 class="title" v-text="item.title"></h5>
						<span class="createAt" v-text="item.createAt"></span>
						<p class="content" v-text="item.news_abstract"></p>
						<a class="moreBtn btn btn-default"  style="width:100px;" :href="'newsDetail/'+item.Id" role="button">more</a>
					</div>

				<hr>
			</li>
		</ul>
    </div>
</div>
{% endblock %}

{% block jsfolder %}
<script src="public/js/frontend/lib/jquery-1.10.2.min.js"></script>
<script src="public/js/frontend/lib/vue.min.js"></script>
<script src="public/js/frontend/lib/iview.min.js"></script>
<script src="public/js/frontend/lib/bootstrap.min.js"></script>
<script src="public/js/frontend/src/header.js"></script>
<script src="public/js/frontend/src/config.js"></script>
<script src="public/js/frontend/src/news.js"></script>
{% endblock %}
