{% extends "frontend/parent.html" %}

{% block cssfolder %}

<link rel="stylesheet" type="text/css" href="public/css/frontend/lib/iview.css">
<link href="public/css/frontend/src/main.css" type="text/css" rel="stylesheet">
<link href="public/css/frontend/src/Header.css" type="text/css" rel="stylesheet">
<link href="public/css/frontend/src/pageMenu.css" type="text/css" rel="stylesheet">
<link href="public/css/frontend/src/resetInfo.css" type="text/css" rel="stylesheet">

<!-- vue和iview引用文件 -->
{% endblock %}


{% block menu %}
<ul class="zyPageMenu">
	<li class="zyItem"><a class="zyLink" href="/works" data-page-name="works">作品管理</a></li>
	<li class="zyItem"><a class="zyLink" href="/uploadWork/0" data-page-name="uploadWork">作品上传</a></li>
	<li class="zyItem"><a class="zyLink" href="/resetInfo" data-page-name="setting">信息修改</a></li>
</ul>
{% endblock %}

{% block container %}
<div class="resetInfo" :style="resetInfoStyle">
	<h2>基本信息</h2>
	<i-form :model="formInfo" :label-width="100" :rules="ruleDataSourse">
	   <form-item label="用户名" prop="realname">
		   <i-input v-model="formInfo.realname" name="realname" placeholder="请输入用户名" clearable></i-input>
	   </form-item>
	   <form-item label="手机号" prop="mobile">
		   <i-input v-model="formInfo.mobile" name="mobile" placeholder="请输入手机号" clearable></i-input>
	   </form-item>
	   <form-item label="地址" prop="address">
		   <i-input v-model="formInfo.address" name="address" placeholder="请输入地址" clearable></i-input>
	   </form-item>
	   <form-item>
			<i-button type="primary" long @click="submitInfo">保存</i-button>
		</form-item>
   </i-form>
   <br/><br/><br/>
   <i-form :model="formPwd" :label-width="100" :rules="ruleDataSourse">
		<h2 class="JMPanelTitle">密码</h2>
		<form-item label="新密码" prop="password">
			<i-input v-model="formPwd.password" name="password" type="password" placeholder="请输入新密码" clearable></i-input>
		</form-item>
		<form-item label="确认新密码" prop="confirmPwd">
			<i-input v-model="formPwd.confirmPwd" name="confirmPwd" type="password" placeholder="请重新输入新密码" clearable @on-blur="checkPwd"></i-input>
			<span style="color:#ed3f14;" v-if="showPwdError">两次输入密码不一致，请重新输入！</span>
		</form-item>
		<form-item>
			<i-button type="primary" long @click="submitPwd">保存</i-button>
		</form-item>
   </i-form>
</div>
{% endblock %}

{% block jsfolder %}
<script src="public/js/frontend/lib/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="public/js/frontend/lib/vue.min.js"></script>
<script type="text/javascript" src="public/js/frontend/iview.min.js"></script>
<script src="public/js/frontend/src/config.js"></script>
<script src="public/js/frontend/src/resetInfo.js"></script>
<script src="public/js/frontend/src/header.js"></script>
{% endblock %}
