{% extends "frontend/parent.html" %}

{% block cssfolder %}
<link href="public/css/frontend/lib/iview.css" rel="stylesheet" type="text/css">
<link href="public/css/frontend/lib/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="public/css/frontend/src/Header.css" type="text/css" rel="stylesheet">
<link href="public/css/frontend/src/Rules.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block container %}
<ul class="JMRuleTip" id="JMRuleTip">
	<li class="JMItem JMActive"><a class="JMLink" data-href="#JMSection1">大赛背景及目标</a></li>
	<li class="JMItem"><a class="JMLink" data-href="#JMSection2">大赛主题</a></li>
	<li class="JMItem"><a class="JMLink" data-href="#JMSection3">组织机构</a></li>
	<li class="JMItem"><a class="JMLink" data-href="#JMSection4">日程安排</a></li>
	<li class="JMItem"><a class="JMLink" data-href="#JMSection5">作品征集</a></li>
	<li class="JMItem"><a class="JMLink" data-href="#JMSection6">参赛办法</a></li>
	<li class="JMItem"><a class="JMLink" data-href="#JMSection7">评审标准</a></li>
	<li class="JMItem"><a class="JMLink" data-href="#JMSection8">奖项设置</a></li>
	<li class="JMItem"><a class="JMLink" data-href="#JMSection9">承诺、保证与权利约定</a></li>
	<li class="JMItem"><a class="JMLink" data-href="#JMSection10">联系方式</a></li>
</ul>
<div class="col-md-8 col-md-offset-2 col-sm-12 JMRule" :style="ruleStyle">
	<div class="row">
		<div class="JMRuleDetail" id="JMRuleDetail">
			<img id="JMSection1" src="/public/images/rule_1.png">
			<img src="/public/images/rule_2.png">
			<img id="JMSection2" src="/public/images/rule_3.png">
			<img id="JMSection3" src="/public/images/rule_4.png">
			<img id="JMSection4" src="/public/images/rule_5.png">
			<img id="JMSection5" src="/public/images/rule_6.png">
			<img id="JMSection6" src="/public/images/rule_7.png">
			<img id="JMSection7" src="/public/images/rule_8.png">
			<img id="JMSection8" src="/public/images/rule_9.png">
			<img id="JMSection9" src="/public/images/rule_10.png">
			<img id="JMSection10" src="/public/images/rule_11.png">
    	</div>
	</div>

</div>
{% endblock %}

{% block jsfolder %}
<script src="public/js/frontend/lib/jquery-1.10.2.min.js"></script>
<script src="public/js/frontend/lib/vue.min.js"></script>
<script src="public/js/frontend/lib/iview.min.js"></script>
<script src="public/js/frontend/lib/bootstrap.min.js"></script>
<script src="public/js/frontend/src/header.js"></script>
<script src="public/js/frontend/src/config.js"></script>
<script src="public/js/frontend/src/rule.js"></script>
{% endblock %}
