{% extends "frontend/parent.html" %}

{% block cssfolder %}
<link href="public/css/frontend/lib/iview.css" rel="stylesheet" type="text/css">
<link href="public/css/frontend/lib/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="public/css/frontend/src/Header.css" type="text/css" rel="stylesheet">
<link href="public/css/frontend/src/Rules.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block container %}
<div class="col-md-8 col-md-offset-2 col-sm-12 JMRule" :style="ruleStyle">
	<div class="row">
		<div class="header">
			章程
		</div>
		<!-- <ul class="col-md-2 col-md-offset-2 JMRuleTip" id="JMRuleTip">
    		<li class="JMItem JMActive"><a class="JMLink"
    			data-href="#JMSection1">大赛介绍</a></li>
    		<li class="JMItem"><a class="JMLink" data-href="#JMSection2">大赛目的</a></li>
    		<li class="JMItem"><a class="JMLink" data-href="#JMSection3">举办单位</a></li>
    		<li class="JMItem"><a class="JMLink" data-href="#JMSection4">大赛流程</a></li>
    		<li class="JMItem"><a class="JMLink" data-href="#JMSection5">作品征集</a></li>
    		<li class="JMItem"><a class="JMLink" data-href="#JMSection6">评选评审</a></li>
    		<li class="JMItem"><a class="JMLink" data-href="#JMSection7">奖项设置</a></li>
    		<li class="JMItem"><a class="JMLink" data-href="#JMSection8">承诺、保证与权利约定</a></li>
    		<li class="JMItem"><a class="JMLink" data-href="#JMSection9">通信联络</a></li>
    	</ul> -->

    	<div class="JMRuleDetail">
			<img src="/public/images/rule.png" alt="">
    		<!-- <div class="JMSection" id="JMSection1">
    			<div class="JMTitle">
    				<span class="JMNum">01</span> <span class="JMText">大赛背景与目标</span>
    			</div>
    			<div class="JMContent">
    				<p class="JMText">党的十九大提出“乡村振兴战略”，制定了“产业兴旺、生态宜居、乡风文明、治理有效、生活富裕”的总体要求。怀化地处五省交界处，是湖南省的“向西开放桥头堡”和“五省边区中心城市”战略要地；同时根据国家文旅部“文旅融合”的战略规划，怀化民俗文化旅游资源丰厚，生态环境优良，将在大湘西生态文 化旅游带中发挥重要作用;2020年将是“精准扶贫”取得决定性胜利的一年，怀化作为湖南省大湘西扶贫攻坚主战场之一，积累了丰富的脱贫攻坚经验，需要更美好的愿景和更宏大的视野展望“乡村振兴”之路。</p>
					<p class="JMText">将文化与生态资源转化为特色文化产业，通过创意转化、科技提升和市场运作，提供具有鲜明区域特点和民族特色的文化产品和服务的产业形态，也是“新时代”文化创意和设计服务与相关产业融合发展的根本任务。2018年，京东集团发布了《2018扶贫品牌报告》，制定了“电商助力打造扶贫品牌”战略并入驻怀化，“京东云”将从互联网技术的角度、通过大量交易行为的大数据来关注互联网在扶贫中的作用，让农产品的线上消费越来越深入人们的生活，为线上扶贫迎来新的契机。</p>
					<p class="JMText">根据怀化市人民政府与京东集团全面战略合作领导小组办公室的指导意见，在怀化经开区管委会、怀化市文化旅游广电体育局等机构的大力支持下，怀化京东云金海云计算有限公司与湖南大学设计艺术学院将整合双方优势资源，以“设计驱动、文旅融合、科技赋能、公益创新”为理念，举办 “首届中国(怀化)乡 振兴设计创新大赛 ”，力争通过大赛建立特色鲜明、重点突出、布局合理、链条完整、效益显著的特色文化产业发展格局，逐步形成以地域文化为核心、以“设计+互联网”为手段的创新内生系统，打造国家文化与科技融合的示范基地。</p>
					<p class="JMText">大赛将面向全球创意资源，以怀化及周边地区的文化与生态资源为依据，征集面向未来的乡村振兴建设方案，大赛将突出以下三个特色: </p>
					<div class="JMSubTitle">设计驱动,文旅融合</div>
					<p class="JMText">鼓励公众深度参与并体验“大湘西”地区武陵山、雪峰山等区域深厚的文化资源和生态资源优势， 通过文创旅游设计、绿色生态设计、产品与服务设计等手段， 引导更广泛的社会资源参与和支持面向精准扶贫的创新设计，打造地标品牌商品及特色景点，形成系列“设计介入精准扶贫，服务地方产业升级”的创新品牌，同时与“怀化文旅-京东云小屋”、“怀化一机游”形成互补，带动区域大合作，助推怀化文旅产业大发展。</p>
					<div class="JMSubTitle">科技创新，网络赋能</div>
					<p class="JMText">以乡村振兴主体的创新能力建设为根本目标，在大赛进程中突出本地创新人才的科技赋能与数字化的市场竞争力培养，形成可持续的创新生态。借力京东，充分利用京东集团丰富的技术与市场资源，打通生产链路合作，解决创产供销环节问题，为本地产业升级提供精准、高质量的营销支持，针对重点品类引入补齐上下游产业链，推动农村一二三产业融合创新发展。</p>
					<div class="JMSubTitle">乡村故事，国际传播</div>
					<p class="JMText">以“怀化”作为中国(怀化)乡村振兴设计创新大赛的首发站，通过发挥湖南省的设计学科优势及 国际合作资源，以点带面，逐步将大赛升级为教育部、文旅部、扶贫办支持的全国性系列知名赛事，并组织大赛获奖成果参加国际大赛及重要展览，打造怀化地域品牌。</p>
    			</div>
    		</div>
    		<hr />

    		<div class="JMSection JMBGF4F4F4" id="JMSection2">
    			<div class="JMTitle">
    				<span class="JMNum">02</span><span class="JMText">大赛主题</span>
    			</div>
    			<div class="JMContent">
    				<p class="JMText">设计创造美好生活 文化助推乡村振兴</p>
    			</div>
    		</div>
    		<hr />
    		<div class="JMSection" id="JMSection3">
    			<div class="JMTitle">
    				<span class="JMNum">03</span><span class="JMText">组织机构</span>
    			</div>
    			<div class="JMContent">
					<div class="JMSubTitle">主办单位</div>
					<p class="JMText">怀化经开区、市文旅广体局、京东集团</p>
    				<div class="JMSubTitle">承办单位</div>
    				<p class="JMText">怀化京东云金海云计算有限公司、湖南大学设计艺术学院、中意(怀化)设计 创新中心、怀化学院美术与设计学院、京东艺术品、京东众筹</p>
    				<div class="JMSubTitle">指导单位</div>
    				<p class="JMText">教育部高等学校工业设计专业教学指导分委员会、湖南省文化和旅游厅</p>
    				<div class="JMSubTitle">支持单位</div>
    				<p class="JMText">怀化市扶贫开发办公室、怀化市工业和信息化局、怀化市科学技术局、怀化市商务局、怀化市农业农村局、各县市区政府</p>
					<p class="JMText">日本千叶大学、意大利米兰理工大学、韩国弘益大学、泰国清迈大学、台湾实践大学、台湾云林科技大学、香港理工大学、清华大学、中国美术学院、江南大学、广 州美术学院、四川美术学院、上海交通大学、中南大学、湖南师范大学、湖南工业大学、湘潭大学、湖南农业大学、中南林业科技大学、湖南科技大学、吉首大学、 南华大学</p>
					<p class="JMText">湖南卫视、湖南经视、湖南日报、长沙晚报、新华网、人民网、红网、新湖南、怀 化日报、怀化广播电视台、设计在线等媒体</p>
    				<div class="JMSubTitle">大赛组委会</div>
    				<p class="JMText">成立首届中国(怀化)乡村振兴设计创新大赛组委会，负责统筹协调、指导督促 大赛活动，协调解决执行过程中遇到的重大问题，下设秘书处。</p>
    				<div class="JMSubTitle">评审专家委员会</div>
    				<p class="JMText">成立首届中国(怀化)乡村振兴设计创新大赛评审专家委员会，邀请湖南大学设 计艺术学院院长何人可教授担任评审会主席，邀请来自京东集团、国际国内知名高校及科研院所、乡村振兴、文旅、农业、生态、电商、创投领域的资深专家担任评委，以保证作品品质及评审结果的公信力，对大赛全程予以指导。</p>
    			</div>
    		</div>
    		<hr />

			<div class="JMSection JMBGF4F4F4" id="JMSection4">
    			<div class="JMTitle">
    				<span class="JMNum">04</span> <span class="JMText">日程安排</span>
    			</div>
    			<div class="JMContent">
    				<div class="JMSubTitle">大赛组委会</div>
					<div class="JMSubTitle">前期筹备(2019年1月—5月)</div>
					<div class="JMSubTitle">大赛启动(2019年6月) </div>
					<div class="JMSubTitle">30个示范项目对接会(2019年7月) </div>
					<div class="JMSubTitle">实地调研及工作营(2019年5月—2019年8月) </div>
					<div class="JMSubTitle">作品征集(2019年6月25日—2019年9月30日) </div>
					<div class="JMSubTitle">初评(2019年10月) </div>
					<div class="JMSubTitle">终评(2019年11月) </div>
					<div class="JMSubTitle">颁奖典礼(2019年11月) </div>
					<div class="JMSubTitle">成果孵化及市场推广(2019年11月) </div>
					<div class="JMSubTitle">作品集及国际展览(2019年12月) </div>
    			</div>
    		</div>
    		<hr />

    		<div class="JMSection JMBGF4F4F4" id="JMSection4">
    			<div class="JMTitle">
    				<span class="JMNum">05</span> <span class="JMText">作品征集</span>
    			</div>
    			<div class="JMContent">
    				<div class="JMSubTitle">征集形式</div>
					<p class="JMText"><b>县级重点项目推选：</b>每个县市区相关机构各推荐5个项目。通过大力发动各县市区机构组织和推荐项目参赛，将有利于覆盖更多的产业领域，发掘具有行业代表性的新成果。 定向设计:遴选30个怀化本地项目重点支持，联合相关设计机构开展1+1的定向设计合作。 培训与示范:邀请全国有特色的文创典型案例，组织项目示范与观摩展览，同期开展相关培训和指导工作。</p>
					<p class="JMText"><b>高校宣讲：</b>组织有针对性的高校宣讲活动，广泛征集作品。 全媒体宣传推广:发挥京东媒体及流量优势，全程海量媒体推广，保证对参与企业的品牌支持，进一步增强对优秀设计作品和优秀设计师的社会影响力。</p>
    				<div class="JMSubTitle">征集对象</div>
    				<p class="JMText">重点面向怀化及周边地区科研机构、企业、高校、合作社以及手工作坊近三年以来通过设计创新、艺术创作、文旅结合、生态农业等方法所取得的有地域文化特色、创新性、原创性的乡村振兴成果。</p>
    				<div class="JMSubTitle">征集方向</div>
    				<p class="JMText"><b>精准农业：</b>针对乡村地方特色农产品设计，尤其是地理标志产品的产业设计。如粮油、瓜果、蔬菜、禽类、畜牧、 水产等在内的全流程产业创新，包括针对以上农产品的加工工艺、服务物流、包装与品牌设计、商业模式创新等内容。</p>
					<p class="JMText"><b>非遗文创：</b>包括针对非物质文化资源进行创意设计并形成地域特色的轻工产品、手工艺品、民族服饰、旅游纪念品、 家居家饰、生活用品、时尚创意产品等。</p>
					<p class="JMText"><b>文旅融合：</b>包括各种农业生态、工业旅游、文化传播等于一体产业融合的产品、新业态，如:大健康、养老、休闲农庄、观光工厂、民俗体验、亲子乐园、露营地等展现美丽乡村风貌的娱乐休闲、生态景观、乡村旅游项目及服务设计。</p>
					<p class="JMText"><b>生态科技：</b>包括以生态设计为导向，挖掘地域文化与生态资源，运用互联网+、科技创新、智能服务、绿色设计、 综合媒体艺术等跨学科的方式，为地域振兴和乡村振兴提供的前瞻性规划与解决方案。</p>
				</div>
    		</div>
    		<hr />

    		<div class="JMSection" id="JMSection5">
    			<div class="JMTitle">
    				<span class="JMNum">06</span> <span class="JMText">参赛办法</span>
    			</div>
    			<div class="JMContent">
					<p class="JMText">所有参赛者须登录大赛官网进行报名。大赛组委会不收取报名费用。详细的作品提交要求、参赛须知等内容请查询官网。</p>
					<p class="JMText">官网报名入口开放日期:2019年7月(具体网址和时间另行通知) 报名截止日期:2019年9月30日24时(北京时间)</p>
    			</div>
    		</div>
    		<hr />

			<div class="JMSection" id="JMSection5">
    			<div class="JMTitle">
    				<span class="JMNum">07</span> <span class="JMText">评审标准</span>
    			</div>
    			<div class="JMContent">
					<p class="JMText"><b>设计提案的应用性：</b>是否易于落地，能给企业或者地区带来社会与经济效益。符合当代技术发展趋势，综合高效利用社会和环境资源，具有较高的商业价值和市场潜力、高性价比的设计与商业模式创新;</p>
					<p class="JMText"><b>设计概念的创新性：</b>是否有创新点，提供新的问题解决方案，能够引领未来乡村经济产品及服务的设计发展趋势;</p>
					<p class="JMText"><b>设计内容的可持续性：</b>绿色、低碳、节耗、新能源;生态兼容性、对社会及环境的洞察力、思考力和责任，适应于可持续发展的原则;</p>
					<p class="JMText"><b>设计理念的社会影响力：</b>坚持社会主义核心价值观，倡导乡风文明，引领文化与社会创新方向。</p>
    			</div>
    		</div>
    		<hr />

    		<div class="JMSection JMBGF4F4F4" id="JMSection6">
    			<div class="JMTitle">
    				<span class="JMNum">08</span><span class="JMText">奖项设置</span>
    			</div>
				<div class="JMContent">
    				<p class="JMText">大赛奖金总额60万元。</p>
    				<p class="JMText">至尊大奖（全场大奖）1件，10万奖金+奖杯＋证书；</p>
					<p class="JMText">最佳产业创新奖5件，2万奖金+奖杯＋证书；</p>
					<p class="JMText">最佳社会创新奖5件，2万奖金+奖杯＋证书；</p>
					<p class="JMText">最佳设计扶贫奖5件，2万奖金+奖杯＋证书；</p>
					<p class="JMText">最佳商业潜力奖5件，2万奖金+奖杯＋证书；</p>
					<p class="JMText">最佳绿色设计奖5件，2万奖金+奖杯＋证书；</p>
					<p class="JMText">最佳组织奖5个，奖杯＋证书。颁发给突出的组织作品报名和推荐参赛的单位。</p>
    				<p class="JMText">所有获奖作品落地入住京东云(怀化)数字经济产业园后可获得价值6万元的京东资源包奖励、 免费办公空间、京东扶贫营销和品牌推广支持。此外，获奖企业还将享有以下配套的产业扶持、奖励机制和活动增值机会。</p>
    				<div class="JMSubTitle">生产和营销支持</div>
    				<p class="JMText">大赛获奖作品组委会将定向联合生产制造商，实现产品规模化。对接品牌 销售商，在京东商城/实体门店同步销售、众筹，在商业和市场层面助力企业行销。</p>
    				<div class="JMSubTitle">品牌推广和认证</div>
    				<p class="JMText">包括为入选设计师策划专题专访、“京东”线上线下展销会、交易会，入 驻京东公益平台，大赛全程媒体推广、京东流量支持，明星推介;获得“京东”品牌认证，在品 牌培育上提供帮助，提升参赛企业品牌价值和市场影响力。</p>
    				<div class="JMSubTitle">企业培训和指导</div>
    				<p class="JMText">入围企业、选手将受邀参加“东令营”集训，获得评审专家委员会成员的 现场授课，品牌和产品发展的一对一指导。</p>
    				<div class="JMSubTitle">创投资源和孵化</div>
    				<p class="JMText">组委会将引入金融、创投等资源，对入围项目孵化提供资源帮扶，促进产 融结合，助力参赛企业发展。</p>
    			</div>
    		</div>
    		<hr />

    		<div class="JMSection" id="JMSection7">
    			<div class="JMTitle">
    				<span class="JMNum">09</span> <span class="JMText">联系方式</span>
    			</div>
    			<div class="JMContent">
    				<div class="JMSubTitle">首届中国(怀化)乡村振兴设计创新大赛组委会秘书处</div>
					<p class="JMText">联系人:潘丽</p>
					<p class="JMText">电话:13975142476</p>
    				<p class="JMText">邮箱:343824250@qq.com</p>
    				<div class="JMSubTitle">怀化京东基地</div>
					<p class="JMText">联系人:马昇</p>
					<p class="JMText">电话:18186505510</p>
    				<p class="JMText">邮箱:whmasheng@jd.com</p>
    			</div>
    		</div>
    		<hr /> -->
    	</div>
	</div>

</div>
{% endblock %}

{% block jsfolder %}
<script src="public/js/frontend/lib/jquery-1.10.2.min.js"></script>
<script src="public/js/frontend/lib/vue.min.js"></script>
<script src="public/js/frontend/lib/iview.min.js"></script>
<script src="public/js/frontend/lib/bootstrap.min.js"></script>
<script src="public/js/frontend/src/header.js"></script>
<script src="public/js/frontend/src/config.js"></script>
<script src="public/js/frontend/src/rule.js"></script>
{% endblock %}
