{% extends "frontend/parent.html" %}

{% block cssfolder %}
<link href="public/css/frontend/lib/iview.css" rel="stylesheet" type="text/css">
<link href="public/css/frontend/lib/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="public/css/frontend/src/Header.css" type="text/css" rel="stylesheet">
<link href="public/css/frontend/src/Rules.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block container %}
<div class="col-md-8 col-md-offset-2 col-sm-12 JMRule" :style="ruleStyle">
	<div class="row">
		<div class="header">
			章程
		</div>
		<!-- <ul class="col-md-2 col-md-offset-2 JMRuleTip" id="JMRuleTip">
    		<li class="JMItem JMActive"><a class="JMLink"
    			data-href="#JMSection1">大赛介绍</a></li>
    		<li class="JMItem"><a class="JMLink" data-href="#JMSection2">大赛目的</a></li>
    		<li class="JMItem"><a class="JMLink" data-href="#JMSection3">举办单位</a></li>
    		<li class="JMItem"><a class="JMLink" data-href="#JMSection4">大赛流程</a></li>
    		<li class="JMItem"><a class="JMLink" data-href="#JMSection5">作品征集</a></li>
    		<li class="JMItem"><a class="JMLink" data-href="#JMSection6">评选评审</a></li>
    		<li class="JMItem"><a class="JMLink" data-href="#JMSection7">奖项设置</a></li>
    		<li class="JMItem"><a class="JMLink" data-href="#JMSection8">承诺、保证与权利约定</a></li>
    		<li class="JMItem"><a class="JMLink" data-href="#JMSection9">通信联络</a></li>
    	</ul> -->

    	<div class="JMRuleDetail">
    		<div class="JMSection" id="JMSection1">
    			<div class="JMTitle">
    				<span class="JMNum">01</span> <span class="JMText">大赛介绍</span>
    			</div>
    			<div class="JMContent">
    				<p class="JMText">党的十九大提出“乡村振兴战略”，制定了“产业兴旺、生态宜居、乡风文明、治理有效、生活富裕”的总体要求。怀化地处五省交界处，是湖南省的“向西开放桥头堡”和“五省边区中心城市”战略要地；同时根据国家文旅部“文旅融合”的战略规划，怀化民俗文化旅游资源丰厚，生态环境优良，将在大湘西生态文化旅游带中发挥重要作用；2020年将是“精准扶贫”取得决定性胜利的一年，怀化作为湖南省大湘西扶贫攻坚主战场之一，积累了丰富的脱贫攻坚经验，需要更美好的愿景和更宏大的视野展望“乡村振兴”之路。</p>
					<p class="JMText">将文化与生态资源转化为特色文化产业，通过创意转化、科技提升和市场运作，提供具有鲜明区域特点和民族特色的文化产品和服务的产业形态，也是“新时代”文化创意和设计服务与相关产业融合发展的根本任务。2018年，京东集团发布了《2018扶贫品牌报告》，制定了“电商助力打造扶贫品牌”战略并入驻怀化，“京东云”将从互联网技术的角度、通过大量交易行为的大数据来关注互联网在扶贫中的作用，让农产品的线上消费越来越深入人们的生活，为线上扶贫迎来新的契机。</p>
					<p class="JMText">根据怀化市人民政府与京东集团全面战略合作领导小组办公室的指导意见，在怀化经开区、市文旅广体局等机构的大力支持下，怀化京东云金海云计算有限公司与中意（怀化）设计创新中心将整合双方优势资源，以“设计驱动、文旅融合、科技赋能、公益创新”为理念，举办首次“首届中国（怀化）乡村振兴设计创新大赛 ”，力争通过大赛建立特色鲜明、重点突出、布局合理、链条完整、效益显著的特色文化产业发展格局，逐步形成以地域文化为核心、以“设计+互联网”为手段的创新内生系统，打造国家文化与科技融合的示范基地。</p>
    			</div>
    		</div>
    		<hr />

    		<div class="JMSection JMBGF4F4F4" id="JMSection2">
    			<div class="JMTitle">
    				<span class="JMNum">02</span><span class="JMText">大赛目的</span>
    			</div>
    			<div class="JMContent">
					<div class="JMSubTitle">设计驱动、文旅融合</div>
    				<p class="JMText">鼓励公众深度参与并体验“大湘西”地区武陵山、雪峰山等区域深厚的文化资源和生态资源优势，通过文创旅游设计、绿色生态设计、产品与服务设计等手段， 引导更广泛的社会资源参与和支持面向精准扶贫的创新设计，打造地标品牌商品及特色景点，形成系列“设计介入精准扶贫，服务地方产业升级”的创新品牌，同时与“怀化文旅-京东云小屋”、“怀化一机游”形成互补，带动区域大合作，助推怀化文旅产业大发展。</p>
					<div class="JMSubTitle">科技创新、网络赋能</div>
    				<p class="JMText">以乡村振兴主体的创新能力建设为根本目标，在大赛进程中突出本地创新人才的科技赋能与数字化的市场竞争力培养，形成可持续的创新生态。借力京东，充分利用京东集团丰富的技术与市场资源，打通生产链路合作，解决创产供销环节问题，为本地产业升级提供精准、高质量的营销支持，针对重点品类引入补齐上下游产业链，推动农村一二三产业融合创新发展。</p>
					<div class="JMSubTitle">乡村故事、国际传播</div>
    				<p class="JMText">以“怀化”作为中国（怀化）乡村振兴设计创新大赛的首发站，通过发挥湖南省的设计学科优势及国际合作资源，以点带面，逐步将大赛升级为教育部、文旅部、扶贫办支持的全国性系列知名赛事。并组织大赛获奖成果参加国际大赛及重要展览，打造怀化地域品牌。 </p>
    			</div>
    		</div>
    		<hr />
    		<div class="JMSection" id="JMSection3">
    			<div class="JMTitle">
    				<span class="JMNum">03</span><span class="JMText">举办单位</span>
    			</div>
    			<div class="JMContent">
					<div class="JMSubTitle">主办单位</div>
					<p class="JMText">怀化经开区、市文旅广体局、京东集团</p>
    				<div class="JMSubTitle">承办单位</div>
    				<p class="JMText">怀化京东云金海云计算有限公司、湖南大学设计艺术学院、中意（怀化）设计创新中心、怀化学院设计艺术学院</p>
    				<div class="JMSubTitle">指导单位</div>
    				<p class="JMText">教育部高等学校工业设计专业教学指导分委员会、湖南省文化和旅游厅等</p>
    				<div class="JMSubTitle">支持单位（排名不分先后）</div>
    				<p class="JMText">市扶贫办、团市委，市工信局、市科技局、市农业农村局、市商务局、怀化高新区、各县市区政府等单位；</p>
					<p class="JMText">日本千叶大学、意大利米兰理工大学、韩国弘益大学、泰国清迈大学、台湾实践大学、台湾云林科技大学、香港理工大学、清华大学、中国美术学院、江南大学、广州美术学院、四川美术学院、上海交通科技大学、中南大学、湖南师范大学、湖南工业大学、湘潭大学、湖南农业大学、中南林业科技大学、吉首大学、南华大学等高校；</p>
					<p class="JMText">日本千叶大学、意大利米兰理工大学、韩国弘益大学、泰国清迈大学、台湾实践大学、台湾云林科技大学、香港理工大学、清华大学、中国美术学院、江南大学、广州美术学院、四川美术学院、上海交通科技大学、中南大学、湖南师范大学、湖南工业大学、湘潭大学、湖南农业大学、中南林业科技大学、吉首大学、南华大学等高校； </p>
    			</div>
    		</div>
    		<hr />

			<div class="JMSection JMBGF4F4F4" id="JMSection4">
    			<div class="JMTitle">
    				<span class="JMNum">04</span> <span class="JMText">组织机构</span>
    			</div>
    			<div class="JMContent">
    				<div class="JMSubTitle">大赛组委会</div>
    				<p class="JMText">成立首届中国（怀化）乡村振兴设计创新大赛组委会，由各举办单位相关负责人担任组委会顾问、主任、副主任、委员等。组委会负责统筹协调、指导督促大赛活动，协调解决执行过程中遇到的重大问题，下设秘书处。 </p>
    				<div class="JMSubTitle">评审专家委员会</div>
    				<p class="JMText">成立首届中国（怀化）乡村振兴设计创新大赛评审专家委员会，邀请湖南大学设计艺术学院院长何人可教授担任评审会主席，邀请来自京东集团、国际国内知名高校及科研院所、乡村振兴实应用设计、文旅、农业、生态、电商、创投领域的资深专家担任评委，以保证作品品质及评审结果的公信力，对大赛全程予以指导。</p>
    			</div>
    		</div>
    		<hr />

    		<div class="JMSection JMBGF4F4F4" id="JMSection4">
    			<div class="JMTitle">
    				<span class="JMNum">05</span> <span class="JMText">大赛流程</span>
    			</div>
    			<div class="JMContent">
    				<p class="JMText">首届中国（怀化）乡村振兴设计创新大赛将秉承“政府引导、市场机制、造福地方”的办赛理念，根据“统一规划，明确分工，联动合作”的工作原则，发挥湖南大学的设计教育、人才优势和国际资源，利用京东的产业孵化、互联网、营销、资本等优势，通过设计和资本的两轮驱动，实现大赛目标。</p>
    				<div class="JMSubTitle">前期筹备（2019年1月—3月底）</div>
					<p class="JMText">1、形成大赛工作方案。</p>
					<p class="JMText">2、明确作品征集方向。</p>
    				<p class="JMText">3、从县区单位推选大赛具体设计项目。根据重点服务的县域和骨干企业的设计需求，尤其是未来2-3年的新产品、新业态设计需求来确认。</p>
    				<div class="JMSubTitle">活动启动（怀化）（2019年6月）</div>
    				<p class="JMText">选择合适的农耕节日或怀化市重大活动作为项目启动契机，面向全球发布大赛章程。</p>
    				<div class="JMSubTitle">实地调研（2019年5月—2019年7月）</div>
    				<p class="JMText">包括大赛方案论证和对各县市区产业情况调研。</p>
    				<div class="JMSubTitle">作品征集（2019年5月—2019年9月）</div>
					<div class="JMSubTitle">大赛初评（2019年9月）</div>
					<div class="JMSubTitle">大赛终评（2019年9月20日）</div>
					<div class="JMSubTitle">颁奖典礼（2019年10月）</div>
    				<div class="JMSubTitle">成果孵化及市场推广（2019年11月）</div>
					<p class="JMText">发挥京东企业优势，为优秀成果提供京东资源包，推动企业落地京东云（怀化）数字经济产业园，为入围企业提供生产和营销支持、品牌推广和认证服务、企业培训和指导、创投资源和孵化服务，在商业、市场、品牌等多个层面助力企业发展。</p>
					<div class="JMSubTitle">作品集、成果展览（2019年12月）</div>
					<p class="JMText">参加文博会、米兰展等知名专题展览。</p>
				</div>
    		</div>
    		<hr />

    		<div class="JMSection" id="JMSection5">
    			<div class="JMTitle">
    				<span class="JMNum">06</span> <span class="JMText">作品征集</span>
    			</div>
    			<div class="JMContent">
					<div class="JMSubTitle">征集形式</div>
					<p class="JMText"><b>县级重点项目推选。</b>每个县市区相关机构各推荐5个项目。通过大力发动各县市区机构组织和推荐项目参赛，将有利于覆盖更多的产业领域，发掘具有行业代表性的新成果。</p>
					<p class="JMText"><b>定向设计。</b>遴选30个怀化本地项目重点支持，与院校进行设计配对，实施1+1的联合设计方案参与大赛。 </p>
					<p class="JMText"><b>培训与示范。</b>邀请全国有特色的文创典型案例，来怀化进行项目示范与观摩展览，并同期开展相关培训和指导工作。</p>
					<p class="JMText"><b>高校宣讲。</b>组织有针对性的高校宣讲活动，广泛征集作品。</p>
					<p class="JMText"><b>全媒体宣传推广。</b>发挥京东媒体及流量优势，全程海量媒体推广，保证对参与企业的品牌支持，进一步增强对优秀设计作品和优秀设计师的社会影响力。</p>
					<div class="JMSubTitle">征集对象</div>
					<p class="JMText">重点面向怀化及周边地区科研机构、企业、高校、合作社以及手工作坊近三年以来通过设计创新、艺术创作、文旅结合、生态农业等方法所取得的有地域文化特色、创新性、原创性的乡村振兴成果。 </p>
					<div class="JMSubTitle">征集方向</div>
					<p class="JMText">征集服务于乡村振兴和精准扶贫相关的产品设计或服务设计。征集作品主要分以下四个类别：</p>
					<p class="JMText"><b>精准农业：</b>包括乡村地方特色农产品设计，如粮油、瓜果、蔬菜、禽类、畜牧、水产等在内的产业创新以及针对以上农产品的特色包装设计、服务物流创新；通过科技、工艺和商业模式创新，以设计进行产业优化，培育特色产业所产生的创意生态农产品。</p>
					<p class="JMText"><b>非遗文创：</b>包括针对非物质文化资源进行创意设计并形成地域特色的轻工产品、手工艺品、民族服饰、旅游纪念品、家居家饰、生活用品、时尚创意产品等。</p>
					<p class="JMText"><b>文旅融合：</b>包括各种农业生态、工业旅游、文化传播等于一体的产业融合产品、新业态，如：大健康、养老、休闲农庄、观光工厂、民俗体验、亲子乐园、露营地等展现美丽乡村风貌，具备娱乐休闲、生态景观、乡村旅游项目及服务设计。</p>
					<p class="JMText"><b>大地未来：</b>包括以设计为导向，挖掘区域文化与生态资源，运用互联网＋、科技创新、智能服务、绿色设计、综合媒体艺术等跨学科的方式，为区域乡村振兴提供的前瞻性规划与解决方案。 </p>
    			</div>
    		</div>
    		<hr />

			<div class="JMSection" id="JMSection5">
    			<div class="JMTitle">
    				<span class="JMNum">07</span> <span class="JMText">参赛办法</span>
    			</div>
    			<div class="JMContent">
					<p class="JMText">见大赛官方网站为：（待上线）。详细的作品提交及报名要求、参赛须知等内容请查询官网。</p>
					<p class="JMText">投稿系统入口开放：（待定）。</p>
					<p class="JMText">报名截止日期：2019年9月1日。</p>
					<p class="JMText">大赛全程不向参赛者收取任何费用。</p>
    			</div>
    		</div>
    		<hr />

    		<div class="JMSection JMBGF4F4F4" id="JMSection6">
    			<div class="JMTitle">
    				<span class="JMNum">08</span><span class="JMText">评选评审</span>
    			</div>
    			<div class="JMContent">
    				<div class="JMSubTitle">评选形式</div>
    				<p class="JMText"><b>1.初赛评审：</b>由评审专家委员会分组进行第一阶段评审并提供指导意见。</p>
    				<p class="JMText"><b>2.决赛评审：</b>由大赛组委会从评审专家委员会遴选9位专家在怀化现场评审出获奖作品。</p>
    				<div class="JMSubTitle">评审标准</div>
    				<p class="JMText">大赛坚持以下基本原则，确定大赛方案后还将进一步完善和细化评审规则、程序。</p>
    				<p class="JMText"><b>1.设计提案的应用性：</b>是否易于落地，能给企业或者地区带来文化与经济效益。符合当代技术发展趋势，综合高效利用社会和环境资源，具有较高的商业价值和市场潜力、高性价比的设计与商业模式创新；</p>
    				<p class="JMText"><b>2.设计概念的创新性：</b>是否有创新点，提供新的问题解决方案，能够引领未来乡村经济产品及服务的设计发展趋势；</p>
    				<p class="JMText"><b>3.设计内容的可持续性：</b>绿色、低碳、节耗、新能源；生态兼容性、对社会及环境的洞察力、思考力和责任，适应于可持续发展的原则；</p>
    				<p class="JMText"><b>4.设计理念的社会影响力：</b>坚持社会主义核心价值观，倡导乡风文明，引领文化与社会创新方向。</p>
    			</div>
    		</div>
    		<hr />

    		<div class="JMSection" id="JMSection7">
    			<div class="JMTitle">
    				<span class="JMNum">09</span> <span class="JMText">奖项设置</span>
    			</div>
    			<div class="JMContent">
    				<p class="JMText">所有获奖作品都将获得价值6万元的京东资源包（存入京东账户），并将获得以下奖励：</p>
    				<p class="JMText">至尊大奖（全场大奖）1件，10万奖金+奖杯＋证书；</p>
					<p class="JMText">最佳产业创新奖5件，2万奖金+奖杯＋证书；</p>
					<p class="JMText">最佳社会创新奖5件，2万奖金+奖杯＋证书；</p>
					<p class="JMText">最佳设计扶贫奖5件，2万奖金+奖杯＋证书；</p>
					<p class="JMText">最佳商业潜力奖5件，2万奖金+奖杯＋证书；</p>
					<p class="JMText">最佳绿色设计奖5件，2万奖金+奖杯＋证书；</p>
					<p class="JMText">最佳组织奖5个，奖杯＋证书。颁发给突出的组织作品报名和推荐参赛的单位。</p>
    				<p class="JMText">大赛奖金总额60万元。此外，获奖企业还将享有以下配套的产业扶持、奖励机制和活动增值机会。</p>
    				<div class="JMSubTitle">生产和营销支持</div>
    				<p class="JMText">大赛获奖作品组委会将定向联合生产制造商，实现产品规模化。对接品牌销售商，在京东商城/实体门店同步销售、众筹，在商业和市场层面助力企业行销。</p>
    				<div class="JMSubTitle">品牌推广和认证</div>
    				<p class="JMText">包括为入选设计师策划专题专访、“京东”线上线下展销会、交易会，入驻京东公益平台，大赛全程媒体推广、京东流量支持，明星推介；获得“京东”品牌认证，在品牌培育上提供帮助，提升参赛企业品牌价值和市场影响力。</p>
    				<div class="JMSubTitle">企业培训和指导</div>
    				<p class="JMText">入围企业、选手将受邀参加“东令营”集训，获得评审专家委员会成员的现场授课，品牌和产品发展的一对一指导。</p>
    				<div class="JMSubTitle">创投资源和孵化</div>
    				<p class="JMText">组委会将引入金融、创投等资源，对入围项目孵化提供资源帮扶，促进产融结合，助力参赛企业发展。所有获奖项目落地京东云（怀化）数字经济产业园后，将获得京东孵化资源包（物流补贴、推广补贴等）为项目定制创业辅导，对接创业资源。</p>
    			</div>
    		</div>
    		<hr />

    		<!-- <div class="JMSection" id="JMSection8">
    			<div class="JMTitle">
    				<span class="JMNum">08</span> <span class="JMText">承诺、保证与权利约定</span>
    			</div>
    			<div class="JMContent">
    				<p class="JMText">参赛者完成报名并提交作品即表示其做出如下相关承诺、保证，并与大赛主办方、参与方达成如下相关约定。</p>
    				<div class="JMSubTitle">保证作品为原创、不侵权</div>
    				<p class="JMText">所有（个人或团队参赛者）参赛作品，其内容必须符合本届大赛的主题，必须是原创作品。参赛者保证对其参赛作品拥有完全充分的知识产权，保证不违反国家法律法规、不侵犯第三方知识产权及其他权利。</p>
    				<div class="JMSubTitle">承诺承担侵权的责任和后果</div>
    				<p class="JMText">1.参赛者就其作品涉及的名誉权、著作权、肖像权等所有法律问题承担法定、约定义务，并承担对相关权利方包括第三方的违约、侵权等法律责任。</p>
    				<p class="JMText">2.参赛者不能做出原创和不侵权承诺与保证的，应在提交作品时做出声明并由大赛主办方当即记录在案，参赛者承担参赛作品被大赛主办方拒绝接受的后果。</p>
    				<p class="JMText">3.参赛者提交的作品一经发现存在抄袭或其他侵权行为，大赛主办方有权退回作品、取消参赛与获奖资格、收回奖金、奖品、获奖证书，并有权在有关媒体公布其侵权行为。</p>
    				<p class="JMText">4.大赛主办方因使用参赛作品遭到第三方的侵权主张而导致处罚、经济或名誉损失的，该作品的参赛提交者应对主办方进行充分、及时、有效的经济补偿并通过报刊和网络媒体声明道歉、为主办方消除不良影响。</p>
    				<div class="JMSubTitle">与作品有关的权利约定</div>
    				<p class="JMText">大赛主办方、参与方、相关媒体有权将参赛作品用于与本次大赛相关的宣传、展览、网站展示及宣传品制作等用途，且不需支付报酬。</p>
    				<div class="JMSubTitle">其他约定</div>
    				<p class="JMText">1.参赛作品稿件一律不予退还，请参赛者自行备份。</p>
    				<p class="JMText">2.在进行评审之前，参赛者可向大赛主办方提交书面申请要求撤回其参赛作品。</p>
    				<p class="JMText">3.大赛奖项评定数量视参赛作品质量而定，允许部分奖项空缺；若对奖项结果有任何争议，一切均以评审专家委员会评审结果为准。对于所有获奖作品，奖金个人所得税自理。</p>
    				<p class="JMText">4.与大赛有直接关系的工作人员不得参加比赛，所有参赛者予以监督。</p>
    				<p class="JMText">5.参赛作品提交资料务必完整，严重缺少提交材料者，大赛有权不予进入评审阶段。</p>
    				<p class="JMText">6.参赛作品不得有违反社会公德和社会公共利益等内容出现。在参赛过程中不得在公共场合以及社交平台发布任何针对大赛主办方、工作人员、赛制等的不尊重言语和评论。</p>
    				<p class="JMText">7.严重违反大赛规章制度的作品及参赛者组委会有权力做退赛处理。</p>
    				<p class="JMText">8.有任何意见和建议欢迎通过大赛各个渠道进行反馈。</p>
    				<p class="JMText">9.本活动由大赛组委会负责解释。</p>
    			</div>
    		</div>

    		<div class="JMSection" id="JMSection9">
    			<div class="JMTitle">
    				<span class="JMNum">09</span> <span class="JMText">通信联络</span>
    			</div>
    			<div class="JMContent">
    				<div class="JMSubTitle">（一）大赛官方网站</div>
    				<p class="JMText">1.大赛投稿官网：http://d-seniors.hnknx.com</p>
    				<p class="JMText">2.组委会办公室邮箱：zgylkfsj@126.com</p>
    				<div class="JMSubTitle">（二）大赛技术指导</div>
    				<p class="JMText">设计大赛全程由湖南大学设计艺术学院、湖南省工业设计协会专家指导。通信地址：湖南省长沙市岳麓区岳麓大道湖南省科技厅一楼湖南省工业设计协会设计大赛组。联系人：杨青芷。电话：15111041233。</p>
    				<div class="JMSubTitle">（三）大赛组委会地址</div>
    				<p class="JMText">湖南省长沙市芙蓉区火星镇紫薇路132号“2018年首届中国养老产品暨康复辅具设计大赛”组委会办公室。邮编：410011。联系人：宋名玮。电话：0731-84716679。传真：0731－84719300。邮箱：hnxiangkang@qq.com</p>
    			</div>
    		</div> -->
    	</div>
	</div>

</div>
{% endblock %}

{% block jsfolder %}
<script src="public/js/frontend/lib/jquery-1.10.2.min.js"></script>
<script src="public/js/frontend/lib/vue.min.js"></script>
<script src="public/js/frontend/lib/iview.min.js"></script>
<script src="public/js/frontend/lib/bootstrap.min.js"></script>
<script src="public/js/frontend/src/header.js"></script>
<script src="public/js/frontend/src/config.js"></script>
<script src="public/js/frontend/src/rule.js"></script>
{% endblock %}
