{% extends "frontend/parent.html" %}

{% block cssfolder %}
<link href="../public/css/frontend/lib/iview.css" type="text/css" rel="stylesheet">
<link href="../public/css/frontend/lib/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="../public/css/frontend/src/Header.css" type="text/css" rel="stylesheet">
<link href="../public/css/frontend/src/pageMenu.css" type="text/css" rel="stylesheet">
<link href="../public/css/frontend/src/uploadWork.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block menu %}
<ul class="zyPageMenu">
	<li class="zyItem"><a class="zyLink" href="/works" data-page-name="works">作品管理</a></li>
	<li class="zyItem"><a class="zyLink" href="/uploadWork/0" data-page-name="uploadWork">作品上传</a></li>
	<li class="zyItem"><a class="zyLink" href="/resetInfo" data-page-name="setting">信息修改</a></li>
</ul>
{% endblock %}

{% block container %}
<div class="uploadWork" :style="uploadWorkStyle">
	<div v-show="step != '3'">
		<row type="flex" justify="center" align="top" >
			<i-col class="rules" span="8">
				<h2 class="uploadRuleTitle">上传作品</h2>
				<div class="uploadRule_1" v-show="step === '1'">

				</div>
				<div class="uploadRule_2" v-show="step === '2'">
					<p class="uploadRuleText">
						<font class="improtentText">精准农业:</font>包括乡村地方特色农产品设计，如粮油、瓜果、蔬菜、禽类、畜牧、水产等在内的产业创新以及针对以上农产品的特色包装设计、服务物流创新；通过科技、工艺和商业模式创新，以设计进行产业优化，培育特色产业所产生的创意生态农产品。<br><br>
						<font class="improtentText">非遗文创:</font>包括针对非物质文化资源进行创意设计并形成地域特色的轻工产品、手工艺品、民族服饰、旅游纪念品、家居家饰、生活用品、时尚创意产品等。<br><br>
						<font class="improtentText">文旅融合:</font>包括各种农业生态、工业旅游、文化传播等于一体的产业融合产品、新业态，如：大健康、养老、休闲农庄、观光工厂、民俗体验、亲子乐园、露营地等展现美丽乡村风貌，具备娱乐休闲、生态景观、乡村旅游项目及服务设计。<br><br>
						<font class="improtentText">生态科技:</font>包括以设计为导向，挖掘区域文化与生态资源，运用互联网＋、科技创新、智能服务、绿色设计、综合媒体艺术等跨学科的方式，为区域乡村振兴提供的前瞻性规划与解决方案。<br>
					</p>
					<h5 class="uploadRuleSubTitle">作品提交及报名要求</h5>
					<p class="uploadRuleText">
						1.<font class="improtentText">作品要求</font>:所有参赛作品内容需要符合本次大赛的主题和征集方向，参赛者须保证对其参赛作品具有原创性，具有完整的知识产权，不存在知识产权侵权或任何其他侵权行为。产业创新组限销售或投入使用5年以内（2014年1月1日以后销售或投入使用）的服务或者产品设计报名参赛。<br>
						2.<font class="improtentText">作品提交要求</font>:已销售或投入使用的服务或者产品设计（含已取得专利的产品和服务）提交“产业创新组”参赛。所有未销售或投入使用的服务或者产品设计提交“概念设计组”参赛。
					</p>
					<h5 class="uploadRuleSubTitle">概念设计组作品提交要求</h5>
					<p class="uploadRuleText">
						（1）作品版面大小为<font class="zyFF0000">A1</font>（840mm×594mm）图幅，<font class="improtentText">竖构图</font>，jpg格式，精度350dpi；单张图片大小<font class="improtentText">不得超过5M</font>。<br>
						（2）每件参赛作品不超过3个版面，版面内容包含主题阐释、效果图、必要的结构图、基本外观尺寸图及设计说明（必须是中英双语）等。
					</p>
					<h5 class="uploadRuleSubTitle">产业创新组作品提交要求</h5>
					<p class="uploadRuleText">
						（1）提交3张高精度（350dpi以上）产品实物照片，单张图片大小<font class="improtentText">不得超过5M</font>。<br>
						（2）填写产品/服务设计说明（300字以内），并提交相应的辅助资料（如产品/服务网页链接等信息）。
					</p>
					<p class="uploadRuleText">
						另外，为保证本次大赛评选的公正性，参赛作品及版面上不得出现作者所在单位、姓名（包括英文或拼音缩写）或与作者身份有关的任何图标、图形等个人信息资料。
					</p>
				</div>
			</i-col>
			<!-- 右侧作品部分 -->
			<i-col span="10">
				<!-- 步骤条 -->
				<Steps :current="current">
					<Step title="参赛者信息"></Step>
					<Step title="作品信息 "></Step>
					<Step title="预览提交"></Step>
				</Steps>
				<div class="userInfo">
					<i-form :label-width="130" ref="formItem" :model="formItem" :rules="ruleformItem">

						<!-- 第一部分：参赛者信息 -->
						<div v-show="step === '1'">
							<form-item label="参与者类型">
								<radio-group v-model="formItem.participant_type" @on-change="userInfoChange">
									<radio label="1" value="1">个人</radio>
									<radio label="2" value="2">团队</radio>
									<radio label="3" value="3">企业</radio>
								</radio-group>
							</form-item>
							<form-item :label="participantNameLabel" prop="participant_name">
								<i-input v-model="formItem.participant_name" placeholder="请输入姓名"></i-input>
							</form-item>
							<form-item label="队员姓名" v-show="formItem.participant_type == '2'">
								<i-input v-model="formItem.team_member" placeholder="成员姓名用中文逗号连接"></i-input>
							</form-item>
							<form-item :label="participantIdNumberText" prop="participant_id_number">
								<i-input v-model="formItem.participant_id_number" :placeholder="idNamePlaceholder"></i-input>
							</form-item>
							<form-item label="所属单位" v-show="formItem.participant_type != '3'">
								<i-input v-model="formItem.affiliatedUnit" placeholder="请输入所属单位"></i-input>
							</form-item>
							<form-item label="简介" prop="participant_brief">
								<i-input type="textarea" v-model="formItem.participant_brief" placeholder="请输入个人简介"></i-input>
							</form-item>
							<form-item>
								<i-button type="primary" @click="goStep2">下一步</i-button>
							</form-item>
						</div>


						<!-- 第一部分：参赛者信息 -->
						<div v-show="step === '2'">
							<form-item label="中文标题" prop="title">
								<i-input v-model="formItem.title" placeholder="请输入标题"></i-input>
							</form-item>
							<form-item label="English Title" prop="title_en">
								<i-input v-model="formItem.title_en" placeholder="请输入标题"></i-input>
							</form-item>
							<form-item label="中文简介" prop="content">
								<i-input type="textarea" v-model="formItem.content" placeholder="请输入作品简介"></i-input>
							</form-item>
							<form-item label="English Abstract" prop="content_en">
								<i-input type="textarea" v-model="formItem.content_en" placeholder="请输入作品简介"></i-input>
							</form-item>
							<form-item label="指导老师">
								<i-input v-model="formItem.adviser" placeholder="请输入指导老师"></i-input>
							</form-item>
							<form-item label="组别" v-if="false">
								<radio-group v-model="formItem.groupNum">
									<radio label="1" value="1">概念设计组 </radio>
									<radio label="2" value="2">产品创新组</radio>
								</radio-group>
							</form-item>
							<form-item label="作品类别">
								<radio-group v-model="formItem.subGroupNum">
									<radio label="1" value="1">精准农业</radio>
									<radio label="2" value="2">非遗文创</radio>
									<radio label="3" value="3">文旅融合</radio>
									<radio label="4" value="4">生态科技</radio>
								</radio-group>
							</form-item>
							<form-item label="图幅一" prop="fileName_1">
								<img v-show="imgUrl_1.length" :src="imgUrl_1" style="width:120px;height:120px;margin-bottom:10px;">
								<input type="file" @change="doUpload_1" ref="inputFile" accept="image/*"/>
								<i-progress :percent="progressPercent_1" /><span v-text="progressPercent_1 + '%'"></span>
							</form-item>
							<form-item label="图幅二">
								<img v-show="imgUrl_2.length" :src="imgUrl_2" style="width:120px;height:120px;margin-bottom:10px;">
								<input type="file" @change="doUpload_2" ref="inputFile" accept="image/*"/>
								<i-progress :percent="progressPercent_2" /><span v-text="progressPercent_2 + '%'"></span>
							</form-item>
							<form-item label="图幅三">
								<img v-show="imgUrl_3.length" :src="imgUrl_3" style="width:120px;height:120px;margin-bottom:10px;">
								<input type="file" @change="doUpload_3" ref="inputFile" accept="image/*"/>
								<i-progress :percent="progressPercent_3" /><span v-text="progressPercent_3 + '%'"></span>
							</form-item>
							<form-item label="附件">
								<label>请上传zip、rar格式压缩文件</label><br/>
								<i-button icon="ios-book" id="step2_upload_ZIP_btn">附件(ZIP)</i-button>
								<input type="file" @change="step2_upload_ZIP_change" id="step2_upload_ZIP_btninput" accept="application/x-zip-compressed" style="display:none;"/>
								<p v-text="attachFileName"></p>
								<i-progress :percent="attachFilePercent" /><span v-text="attachFilePercent + '%'"></span>
							</form-item>
							<form-item>
								<i-button type="primary" @click="goStep1">上一步</i-button>
								<i-button type="primary" @click="goStep3">下一步</i-button>
							</form-item>
						</div>

					</i-form>

				</div>
			</i-col>
		</row>
	</div>
	<div v-show="step === '3'" style="padding-bottom: 20px;">
		<row type="flex" justify="center" align="top">
			<i-col class="preview" span="20">
				<h1 class="title" v-html="'标题：' + formItem.title"></h1>
				<h2 class="avator" v-html="'作者：' + formItem.participant_name"></h2>
				<p v-html="'简介：' + formItem.content"></p>
				<img v-show="imgUrl_1" :src="imgUrl_1" style="width:60%;height:auto;margin:5px auto;"><br>
				<img v-show="imgUrl_2" :src="imgUrl_2" style="width:60%;height:auto;margin:5px auto;"><br>
				<img v-show="imgUrl_3" :src="imgUrl_3" style="width:60%;height:auto;margin:5px auto;"><br>
				<i-button type="primary" @click="goStep2">上一步</i-button>
				<i-button type="primary" @click="submit">提交</i-button>
			</i-col>
		</row>
	</div>
</div>
{% endblock %}

{% block jsfolder %}
<script src="../public/js/frontend/lib/jquery-1.10.2.min.js"></script>
<script src="../public/js/frontend/lib/vue.min.js"></script>
<script src="../public/js/frontend/lib/iview.min.js"></script>
<script src="../public/js/frontend/lib/bootstrap.min.js"></script>
<script src="../public/js/frontend/lib/promise.js"></script>
<script src="../public/js/frontend/lib/aliyun-oss-sdk.min.js"></script>
<script src="../public/js/frontend/lib/plupload.full.min.js"></script>
<script src="../public/js/frontend/lib/plupLoad.js"></script>
<script src="../public/js/frontend/lib/juicer-min.js"></script>
<script src="../public/js/frontend/src/config.js"></script>
<script src="../public/js/frontend/src/ossupload.js"></script>
<script src="../public/js/frontend/src/uploadWork.js"></script>
<script src="../public/js/frontend/src/header.js"></script>
{% endblock %}
