{% extends "frontend/parent.html" %}

{% block cssfolder %}
<link href="public/css/frontend/lib/iview.css" type="text/css" rel="stylesheet">
<link href="public/css/frontend/lib/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="public/css/frontend/src/Header.css" type="text/css" rel="stylesheet">
<link href="public/css/frontend/src/pageMenu.css" type="text/css" rel="stylesheet">
<link href="public/css/frontend/src/works.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block menu %}
<ul class="zyPageMenu">
	<li class="zyItem"><a class="zyLink" href="/works" data-page-name="works">作品管理</a></li>
	<li class="zyItem"><a class="zyLink" href="/uploadWork/0" data-page-name="uploadWork">作品上传</a></li>
	<li class="zyItem"><a class="zyLink" href="/resetInfo" data-page-name="setting">信息修改</a></li>
</ul>
{% endblock %}

{% block container %}
<div class="works" :style="workStyle" v-cloak>
	<modal v-model="deleteModal" @on-ok="ok" title="警告！！！">
		<p style="color:#ed3f14;text-align:center">
			<icon type="information-circled"></icon>
			<span style="font-size: 15px;">确定删除作品:{{productTitle}}？</span>
		</p>
	</modal>
	<i-table :columns="columns" :data="dataList"></i-table>
	<page class="page" :total="total" @on-change="pageChange" show-total></page>
</div>
{% endblock %}

{% block jsfolder %}
	<script src="public/js/frontend/lib/jquery-1.10.2.min.js"></script>
	<script src="public/js/frontend/lib/vue.min.js"></script>
	<script src="public/js/frontend/lib/iview.min.js"></script>
	<script src="public/js/frontend/lib/bootstrap.min.js"></script>
	<script src="public/js/frontend/src/config.js"></script>
	<script src="public/js/frontend/src/works.js"></script>
	<script src="public/js/frontend/src/header.js"></script>
{% endblock %}
