[v-cloak]{
	display:none;
}
body{
	margin:0 auto;
}
.workDetail{
	margin:30px auto;
	min-height:550px;
	text-align:center;
}

.workDetail .title{
	margin-top:10px;
}

.workDetail .content{
	margin-top:10px;
}

.workDetail .attachFile{
	margin:20px auto;
}
.workDetail img{
	margin:20px auto;
}
.backTitle{
	text-align: center;
    font-size: 24px;
    color: #47a8a9;
}

.backText{
	text-indent: 2em;
    font-size: 15px;
    line-height: 1.5em;
    color:#6d6d6d;
    text-align: left;
}
